doctype html
html(lang="en")

  head
    meta(charset="utf-8")
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')


    title Aire | Page d'atterrissage !
    link(rel="stylesheet" href="ressources/assets/css/app.css")


  body
    .app
        include _mixins.pug
        include _header.pug

        block content

        include _footer.pug

        script(src='ressources/assets/js/library/jquery.js')
        script(src='ressources/assets/js/app.js')
        script(src='ressources/assets/js/form.js')

        
