/* FONT-FAMILY VARIABLES */
/* FONT-SIZE VARIABLES */
/* FONT-WEIGHT VARIABLES */
/* COLOR VARIABLES */
/* OTHERS COLOR VARIABLES */
/* PADDING VARIABLES */
/* MIXINS */
/* ESSENTIALS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "../fonts/GalanoGrotesque/stylesheet.css";
@import "modules/form.css";
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  width: 100%;
  height: 100%;
  font-family: "galano_grotesqueregular";
  color: #222;
  font-size: 16px;
  font-weight: 300;
}

body {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
}

.vertical {
  display: table-cell;
  vertical-align: middle;
}

.response {
  width: 900px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
@media all and (max-width: 1040px) {
  .response {
    width: 100%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

u {
  text-underline-offset: auto;
}

/* HEADER */
/* MAIN */
main section.banner ul.nav {
  display: flex;
}
@media all and (max-width: 780px) {
  main section.banner ul.nav {
    flex-direction: column;
  }
  main section.banner ul.nav li.parent {
    width: 100% !important;
    height: 20vh !important;
    padding-top: initial !important;
    justify-content: center !important;
  }
  main section.banner ul.nav li.parent > a {
    font-size: 4vw !important;
  }
  main section.banner ul.nav li.parent ul.child {
    font-size: 2vw !important;
  }
}
main section.banner ul.nav li.parent {
  padding: 2vw;
  padding-top: 50vh;
  width: 20%;
  height: 100vh;
  display: flex;
  align-content: center;
  flex-direction: column;
}
main section.banner ul.nav li.parent:nth-child(1) {
  background: #EF476F;
  color: #073B4C;
}
main section.banner ul.nav li.parent:nth-child(2) {
  background: #FFD166;
  color: #EF476F;
}
main section.banner ul.nav li.parent:nth-child(3) {
  background: #06D6A0;
  color: #FFD166;
}
main section.banner ul.nav li.parent:nth-child(4) {
  background: #118AB2;
  color: #06D6A0;
}
main section.banner ul.nav li.parent:nth-child(5) {
  background: #073B4C;
  color: #118AB2;
}
main section.banner ul.nav li.parent > a {
  font-family: "galano_grotesquebold";
  font-size: 2.5vw;
  text-transform: uppercase;
}
main section.banner ul.nav li.parent ul.child {
  font-family: "galano_grotesquebold";
  font-size: 0.85vw;
  text-transform: uppercase;
}

/* FOOTER */