
// COLOR VARIABLES
$light-color: #ffffff;
$dark-color: #222222;
$color-1: #003398;
$color-2: #00dfa2;
$color-3: #f6fa70;
$color-4: #ff0060;

// FONT VARIABLES
$base-font: "Space Grotesk", sans-serif;
$small-font-size: 8px;
$base-font-size: 16px;
$medium-font-size: 24px;
$big-font-size: 32px;
$fat-font-size: 40px;
$giant-font-size: 45px;

// PADDINGS
$small-pad: 10px;
$base-pad: 20px;
$medium-pad: 50px;
$big-pad: 70px;
$fat-pad: 90px;