/* FONT-FAMILY VARIABLES */
$base-font: 'Montserrat', sans-serif;

/* FONT-SIZE VARIABLES */
$tiny-size:8px;
$small-size:12px;
$base-size:16px;
$medium-size:24px;
$big-size:48px;
$fat-size:72px;

/* FONT-WEIGHT VARIABLES */
$base-weight:300;

/* COLOR VARIABLES */
$back-color:#F3F3F3;
$base-color:#222;
$dark-color:#222;
$light-color:#FFFFFF;
$grey-color:#DDDDDD;

/* OTHERS COLOR VARIABLES */
$first-color:#EF476F;
$second-color:#FFD166;
$third-color:#06D6A0;
$quart-color:#118AB2;
$quinte-color:#073B4C;

/* PADDING VARIABLES */
$tiny-pad:20px;
$base-pad:50px;
$medium-pad:70px;
$big-pad:90px;